@import 'tailwindcss';
@import 'tailwindcss-animated';

:root {
  --background: #e6e6e6;
  --primary: #25aff4;
  --text-primary: #3a424c;
  --text-dark: #1f2937;
  --secondary: #ffab91;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-space-grotesk);
  --text-dark: var(--text-dark);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-space-grotesk);
}

